Prison.App.Data/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prison.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prison.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlurb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Blurb" nillable="true" type="tns:Blurb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlurb" nillable="true" type="tns:ArrayOfBlurb" />
  <xs:complexType name="Blurb">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlurbContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlurbHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlurbID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blurb" nillable="true" type="tns:Blurb" />
</xs:schema>